# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/

# Python environment variables file
.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor specific files
.vscode/
.idea/
*.sublime-*
*.code-workspace

# MacOS files
.DS_Store

# Logs and temp files
*.log
*.tmp
